@import url("style.css");

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  align-items: center;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

header nav .logo {
  display: flex;
  color: var(--color-light);
  font-weight: var(--bold);
  align-items: center;
}

header nav .logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--semi-bold);
}
