:root {
  font-family: "Work Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #1f1f1f;
  background-color: #efebe0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 65vw;
  --container-post-width: 50vw;
  --container-height: calc(100vh - 240px);

  --padding-horizontal: 7vw;
  --padding-vertical: 7vh;
  --padding-vertical-small: 3vh;

  --bold: 700;
  --semi-bold: 500;
  
  --header-size: 43px;
  --header-line-height: 48px;

  --subheader-size: 34px;
  --subheader-line-height: 36px;
  --subheader-height: 70px;
  --body-height: 60px;

  --body-size: 18px;
  --body-line-height: 32px;

  --bodysmall-size: 14px;
  --bodysmall-line-height: 25px;

  --bodyverysmall-size: 10px;
  --bodyverysmall-line-height: 14px;
  
  --color: #1f1f1f;
  --color-secondary: #1d2087;
  --color-light: #ffffff;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", Arial, sans-serif;
}

@media screen and (max-width: 1000px) {
  :root {
    --container-width: 100%;
    --container-post-width: 100%;
    --container-height: calc(100dvh - 240px);

    --padding-horizontal: 5vw;
    --padding-vertical: 5vw;
    --padding-vertical-small: 5vw;

    --header-size: 28px;
    --header-line-height: 31px;

    --subheader-size: 17px;
    --subheader-line-height: 18px;

    --body-size: 14px;
    --body-line-height: 22px;
  }
}